.DS_Store
.env
.venv
__pycache__
.env_dare_30min
.env_dili_30min
.env_water_tank

env/
.vscode/
Keras_Tuner_Optimizer/
model_retrain_output_folder/
model_output_folder/
logs/
data_scaling/
Optimizer/
.checkpoint
.test
*.pyc